<div class="detailContainer" [ngClass]="{'secondary-background': index % 2 !== 0}">
    <h1>{{ targetObj.topic }}</h1>
    <h2 id="week-total">Last 7 Days Total: {{ last7Total }} hrs</h2>
    <div class="pastProgressContainer">
        <!-- Row 1 Start -->
        <h3 class="one"></h3>
        <h3 class="two">Hours Studied</h3>
        <h3 class="three">Hours per Week</h3>
        <!-- Row 1 End -->
        <!-- Row 2 Start -->
        <h2 class="four">Last Month</h2>
        <h2 class="five">{{ pastProgress.last30HrsStudied }}</h2>
        <h2 class="six">{{ pastProgress.last30HrsPerWeek }}</h2>
        <!-- Row 2 End -->
        <!-- Row 3 Start -->
        <h2 class="seven">All Time</h2>
        <h2 class="eight">{{ pastProgress.allTimeHrsStudied }}</h2>
        <h2 class="nine">{{ pastProgress.allTimeHrsPerWeek }}</h2>
        <!-- Row 3 End -->
    </div>
    <form class="deleteContainer" #d="ngForm" (ngSubmit)="deleteTopic(d)">
        <div class="merge">
            <label for="mergeTopic">Merge Timestamps?</label>
            <select name="mergeTopic" ngModel required>
                <option value="None">None</option>
                <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
            </select>
        </div>
        <button class="delete" type="submit" [disabled]="!d.valid">Delete Topic</button>
    </form>
</div>