<div class="imageContainer">
    <img src="../../assets/studystride.png" alt="Studystride Logo">
</div>
<form class="loginForm" #f="ngForm" (ngSubmit)="signup(f)">
    <h1 class="heading">User Signup</h1>
    <label class="one" for="name">Name:</label>
    <input class="two" name="name" type="text" ngModel required>
    <label class="three" for="email">Email:</label>
    <input class="four" name="email" type="email" ngModel required>
    <label class="five" for="password">Password:</label>
    <input class="six" name="password" type="password" ngModel required>
    <label class="seven" for="confirmPassword">Confirm Password</label>
    <input class="eight" name="confirmPassword" type="password" ngModel required>
    <button class="nine" type="submit" [disabled]="!f.valid">Signup</button>
</form>