<form class="addTopic" #f="ngForm" (ngSubmit)="createTopic(f)">
    <label for="topic">Add a Topic: </label>
    <input placeholder="topic name" name="newTopic" type="text" ngModel required>
    <button type="submit">Create Topic</button>
</form>
<!-- <app-topic-stats-detail *ngFor="let text of texts; let i = index" [ngClass]="{'secondary-background': i % 2 === 0}"></app-topic-stats-detail> -->
<div class="statsContainer">
    <app-topic-stats-detail (updated)="initializeComponent()"></app-topic-stats-detail>
</div>