@import '../../../styles.css';

.addTopic {
    display: flex;
    gap: 0.5rem;
    margin: 1rem auto;
    justify-content: center;
    color: var(--primary-color);
    align-items: center
}

.statsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}