<div class="grid">
    <h1 class="heading">Application Stats</h1>
    <label for="timestamps">Total Timestamps:</label>
    <p>{{ appObject.totalTimeStamps }}</p>
    <label for="milestones">Milestones Created:</label>
    <p>{{ appObject.milestonesCreated }}</p>
    <label for="totalStudyTime">Total Study Time (in hrs):</label>
    <p>{{ appObject.totalStudyTime }}</p>
    <label for="activeUsers">Active Users:</label>
    <p>{{ userCounts.activeUsers }}</p>
    <label for="activeUsers">All Users:</label>
    <p>{{ userCounts.allUsers }}</p>
</div>
