.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto, 5);
    font-weight: bold;
    margin: 1rem;
    justify-content: center;
    gap: 1rem;
    align-items: center
}

.heading {
    grid-column: span 2;
}

label {
    text-align: right
}