<div class="admin" *ngIf="role === 'user'">
    <header>
        <nav class="mobile">
            <img src="../assets/studystride.png" alt="Studystride Logo">
            <div class="hamburger" (click)="toggleMobileNav()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        <nav class="desktop">
            <ul>
                <img src="../assets/studystride.png" alt="Studystride Logo">
                <li (click)="handleRoutes(['user'])">Home</li>
                <li (click)="handleRoutes(['user/topic-stats'])">Topic Data</li>
                <li (click)="handleRoutes(['user/settings'])">Settings</li>
                <li (click)="handleRoutes(['user/feedback'])">Feedback</li>
                <!-- <li class="patreon">Patreon</li> -->
                <li (click)="logout()">Log Out</li>
            </ul>
        </nav>
    </header>
    <div class="mobileBackdrop" [ngClass]="{hidden: hideMobileNav}"></div>
    <div class="mobileNavButtons" [ngClass]="{hidden: hideMobileNav}" (click)="toggleMobileNav()">
        <ul>
            <li (click)="handleRoutes(['user'])">Home</li>
            <li (click)="handleRoutes(['user/topic-stats'])">Topic Data</li>
            <li (click)="handleRoutes(['user/settings'])">Settings</li>
            <li (click)="handleRoutes(['user/feedback'])">Feedback</li>
            <li class="patreon">Patreon</li>
            <li (click)="logout()">Log Out</li>
        </ul>
    </div>
</div>
<div class="user" *ngIf="role === 'admin'">
    <header>
        <nav class="mobile">
            <img src="../assets/studystride.png" alt="Studystride Logo">
            <div class="hamburger" (click)="toggleMobileNav()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        <nav class="desktop">
            <ul>
                <img src="../assets/studystride.png" alt="Studystride Logo">
                <li (click)="handleRoutes(['admin-dash'])">Home</li>
                <li (click)="handleRoutes(['admin-dash/app-stats'])">App-stats</li>
                <li (click)="handleRoutes(['admin-dash/admin-feedback'])">Feedback</li>
                <li (click)="logout()">Log Out</li>
            </ul>
        </nav>
    </header>
    <div class="mobileBackdrop"></div>
    <div class="mobileNavButtons" [ngClass]="{hidden: hideMobileNav}" (click)="toggleMobileNav()">
        <ul>
            <li (click)="handleRoutes(['admin-dash'])">Home</li>
            <li (click)="handleRoutes(['admin-dash/app-stats'])">App-stats</li>
            <li (click)="handleRoutes(['admin-dash/admin-feedback'])">Feedback</li>
            <li (click)="logout()">Log Out</li>
        </ul>
    </div>
</div>

<div class="alert" [ngClass]="{hidden: !alert}">
    <p>{{ alert }}</p>
</div>
<div [ngClass]="{hidden: !hideMobileNav}">
    <router-outlet></router-outlet>
</div>