/* You can add global styles to this file, and also import other style files */
:root {
    /* --primary-color: #8fc05d; */
    --primary-color: #00203FFF;
    --primary-background: white;
    --secondary-background: #ADEFD1FF;
    --box-shadow: #171717
}

html,
body {
    box-sizing: border-box;
    background-color: var(--primary-background);
    color: var(--primary-color);
    margin: 0
}

.hidden {
    display: none
}

.secondary-background {
    padding: 0.5rem;
    background-color: var(--secondary-background);
}

.smallText {
    font-size: small
}

button {
    padding: 0.5rem;
    color: var(--primary-background);
    background-color: var(--primary-color);
    border: none;
    min-width: 100px;
    font-weight: bold;
}

.complete {
    background-color: var(--secondary-background);
}

.delete {
    background-color: red;
    color: white
}

.loginForm {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;
    grid-template-areas:
        'heading heading'
        'one two'
        'three four'
        'five five'
}

.loginForm .heading {
    grid-area: heading;
    text-align: center;
    text-decoration: underline
}

.loginForm .one {
    grid-area: one
}

.loginForm .two {
    grid-area: two
}

.loginForm .three {
    grid-area: three
}

.loginForm .four {
    grid-area: four
}

.loginForm .five {
    grid-area: five
}

button:disabled {
    background-color: darkgrey !important
}