@import '../../styles.css';

.imageContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--secondary-background)
}

img {
    width: 200px;
}

.demoVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto auto 3rem auto
}

.demoVideo video {
    max-width: 600px;
    border: solid thick var(--primary-color)
}