<div class="imageContainer">
    <img src="../../assets/studystride.png" alt="Studystride Logo">
</div>
<form class="loginForm" #f="ngForm" (ngSubmit)="login(f)">
    <h1 class="heading">User Login</h1>
    <label class="one" for="email">Email:</label>
    <input class="two" name="email" type="email" ngModel required>
    <label class="three" for="password">Password:</label>
    <input class="four" name="password" type="password" ngModel required>
    <button class="five" type="submit" [disabled]="!f.valid">Login</button>
    <button type="button" (click)="signup()">Signup</button><button (click)="passReset()" type="button">Password Reset</button>
</form>