<div class="imageContainer">
    <img src="../../assets/studystride.png" alt="Studystride Logo">
</div>
<form class="loginForm" #f="ngForm" (ngSubmit)="sendReset(f)" *ngIf="requestReset">
    <h1 class="heading">Password Reset</h1>
    <label for="email" class="one">Email:</label>
    <input type="email" class="two" name="email" ngModel required>
    <button type="submit" class="three" [disabled]="!f.valid">Send Reset</button>
</form>
<form class="requestReset" #r="ngForm" (ngSubmit)="resetPassword(r)" *ngIf="!requestReset">
    <h1 class="heading">Password Reset</h1>
    <label class="one" for="password">Password:</label>
    <input class="two" type="password" ngModel required name="password">
    <label for="confirmPassword" class="three">Confirm Password:</label>
    <input type="password" class="four" name="confirmPassword" ngModel required>
    <button class="five" type="submit">Submit</button>
</form>