.imageContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--secondary-background)
}

img {
    width: 200px;
}

form.requestReset {
    display: grid;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto, 4);
    grid-template-areas:
        'heading heading'
        'one two'
        'three four'
        'five none'
}

.heading {
    grid-area: heading
}