<div class="secondary-background">
    <div class="componentContainer">
        <h1>User Settings</h1>
        <form class="email" #e="ngForm" (ngSubmit)="updateEmail(e)">
            <h2 class="one">Update Email</h2>
            <label class="two" for="email">New Email:</label>
            <input class="three" name="email" type="email">
            <label class="four" for="confirmEmail">Confirm Email:</label>
            <input class="five" name="confirmEmail" type="email">
            <label class="passOne" for="password">Password:</label>
            <input class="passTwo" type="password" name="password" ngModel required>
            <button class="six" type="submit" [disabled]="!e.valid">Submit</button>
        </form>
        <form #s="ngForm" (ngSubmit)="seedTime(s)">
            <h1 class="one">Seed Study Time</h1>
            <label class="two" for="Topic">Topic:</label>
            <select class="three" name="seedTopic" ngModel required>
                <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
            </select>
            <label class="four" name="seedTime" for="time">Add/Subtract Time &#40;in mins&#41;:</label>
            <input class="five" name="seedTime" type="number" ngModel required>
            <button class="six" type="submit" [disabled]="!s.valid">Seed Time</button>
        </form>
        <p class="smalltext centered">Seeding time is for minor adjustments!<br>-<br>Large changes will throw off your statistics.</p>
        <div class="toggle">
            <label for="toggleReceiveEmails">{{ receivesEmailsMess }}</label>
            <button (click)="toggleReceiveEmails()">Toggle</button>
        </div>
        <div>
            <button class="delete" (click)="deleteUser()">Delete Account</button>
        </div>
    </div>
</div>