@import '../../../../styles.css';

.componentContainer {
    background-color: var(--primary-color);
    color: var(--secondary-background);
}

h1, h3 {
    text-align: center;
    text-decoration: underline;
}

.milestoneSection,
.buttonContainer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto
}

.milestoneContainer,
.completedMilestoneContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: auto
}

.milestoneContainer ol,
.completedMilestoneContainer ol {
    padding-left: 0;
    justify-content: center;
    margin: auto
}

.milestoneContainer li,
.completedMilestoneContainer li {
    display: grid;
    grid-template-columns: auto 3.5rem 3rem;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center
}

.centered {
    text-align: center
}

.completedMilestoneContainer li {
    grid-template-columns: auto 3rem
}

.milestoneContainer li input,
.completedMilestoneContainer li input {
    text-align: center
}

button {
    padding: 0.5rem;
    color: var(--primary-color);
    background-color: var(--secondary-background);
    border: none;
    box-shadow: 4px 4px 0 var(--box-shadow);
    justify-self: center;
    margin: auto;
    font-weight: bold;
    min-width: 3rem
}

.createMilestoneContainer form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    width: fit-content;
    align-items: center
}

@media screen and (min-width: 800px) {
    .milestoneSection {
        flex-direction: row;
        flex-wrap: wrap
    }
}