<div class="milestoneSection">
    <h1>Milestones</h1>
    <div class="milestoneContainer">
        <ol>
            <li class="smallText"><span>Milestone</span><span>Order</span><span>Complete</span><span>Delete</span></li>
            <li><span>Finish step one</span><input value="1" type="number"><button class="complete">&#x2713;</button><button class="delete">X</button></li>
            <li><span>Finish step two</span><input value="2" type="number"><button class="complete">&#x2713;</button><button class="delete">X</button></li>
        </ol>
    </div>
    <h3>Completed Milestones</h3>
    <div class="completedMilestoneContainer">
        <ol>
            <li class="smallText"><span>Milestone</span><span>Delete</span></li>
            <li><span>Finish step one</span><button class="delete">X</button></li>
            <li><span>Finish step two</span><button class="delete">X</button></li>
        </ol>
    </div>
    <button>Save Changes</button>
</div>